body,
html {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  user-select: none;
  background: linear-gradient(to bottom, #111111, #333333);
  height: 100%;
  margin: 0;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.menu-trigger {
  padding: 0.4vw;
  border: 0.2vw solid white;
  background-color: black;
  border-radius: 1.9vw;
  width: 4vw;
  height: 4vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed; /* Change to 'fixed' to position it relative to the viewport */
  bottom: -1vh; /* Distance from the bottom of the viewport */
  left: 4.5vh; /* Distance from the left of the viewport */
  transform: translate(-50%, -50%);
  max-height: 4vh;
  max-width: 4vh;
  z-index: 4; /* Set a higher z-index to ensure it appears above other elements */
}

.menu-icon {
  width: 3vw;
  height: 3vw;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 3vw;
  font-family: Cairo, sans-serif;
  z-index: 4;
}
.menu-icon::after {
  content: "\2630"; /* Unicode for the ☰ character */
  position: center;
  font-size: 2vw;
  color: white;
  top: 50%;
  left: 50%;
}

.menu-items {
  display: none;
  background-color: #000;
  padding: 2vw;
  border: 0.2vw solid white;
  border-radius: 1.3vw;
  min-width: 25vw;
  color: white;
  font-size: 2vw;
  font-family: Cairo, sans-serif;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  top: 29vw;
  left: -14vw;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.menu-item {
  cursor: pointer;
  padding: 1vw;
}

.menu-item:hover {
  background-color: teal;
  border-radius: 1vw;
}
.background {
  background-color: black;
  position: absolute;
  border: 0.2vw solid white;
  padding: 1vw;
  border-radius: 2vw;
}
.switch-container-lighting {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1vw solid rgba(255, 255, 255, 0.1);
  padding: 2vw;
  flex-wrap: wrap;
  border-radius: 2.2vw;
  background-color: invisible;
  box-sizing: border-box;
  height: 61vw;
  width: 91vw;
  background-size: cover;
}
.switch-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 0.2vw solid white;
  padding: 2vw;
  flex-wrap: wrap;
  border-radius: 2vw;
  background-color: transparent;
  box-sizing: border-box;
  height: 60vw;
  width: 90vw;
  background-size: cover;
  max-height: 80vh;
  max-width: calc(80vh * 9 / 6);
}

.switch {
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  background-color: black;
  margin: 1vw;
  box-shadow: 0 0 2vw rgba(255, 255, 255, 0.8);
}
.switch.dark {
  background-color: white;
  box-shadow: 0 0 2vw rgba(255, 255, 255, 1);
}

/*Button Customization ←↓→↑ LPMPHPL1 LKMKHKL2 🡸🡻🡺🡹  🡼 🡽 🡾 🡿*/
#⬅️ {
  position: absolute;
  width: 10vw;
  height: 10vw;
  border: none;
  top: 27%;
  left: 10%;
  transform: translate(-50%, -50%);
  max-height: 14vh;
  max-width: 14vh;
}

#⬇️ {
  position: absolute;
  width: 10vw;
  height: 10vw;
  border: none;
  top: 27%;
  left: 24%;
  transform: translate(-50%, -50%);
  max-height: 14vh;
  max-width: 14vh;
}
#➡️ {
  position: absolute;
  width: 10vw;
  height: 10vw;
  border: none;
  top: 38%;
  left: 36%;
  transform: translate(-50%, -50%);
  max-height: 14vh;
  max-width: 14vh;
}
#LP {
  position: absolute;
  width: 10vw;
  height: 10vw;
  border: none;
  top: 28%;
  left: 49%;
  transform: translate(-50%, -50%);
  max-height: 14vh;
  max-width: 14vh;
}
#MP {
  position: absolute;
  width: 10vw;
  height: 10vw;
  border: none;
  top: 17%;
  left: 62%;
  transform: translate(-50%, -50%);
  max-height: 14vh;
  max-width: 14vh;
}
#HP {
  position: absolute;
  width: 10vw;
  height: 10vw;
  border: none;
  top: 17%;
  left: 75%;
  transform: translate(-50%, -50%);
  max-height: 14vh;
  max-width: 14vh;
}
#L1 {
  position: absolute;
  width: 10vw;
  height: 10vw;
  border: none;
  top: 17%;
  left: 88%;
  transform: translate(-50%, -50%);
  max-height: 14vh;
  max-width: 14vh;
}
#LK {
  position: absolute;
  width: 10vw;
  height: 10vw;
  border: none;
  top: 48%;
  left: 49%;
  transform: translate(-50%, -50%);
  max-height: 14vh;
  max-width: 14vh;
}
#MK {
  position: absolute;
  width: 10vw;
  height: 10vw;
  border: none;
  top: 37%;
  left: 62%;
  transform: translate(-50%, -50%);
  max-height: 14vh;
  max-width: 14vh;
}
#HK {
  position: absolute;
  width: 10vw;
  height: 10vw;
  border: none;
  top: 37%;
  left: 75%;
  transform: translate(-50%, -50%);
  max-height: 14vh;
  max-width: 14vh;
}

#L2 {
  position: absolute;
  width: 10vw;
  height: 10vw;
  border: none;
  top: 37%;
  left: 88%;
  transform: translate(-50%, -50%);
  max-height: 14vh;
  max-width: 14vh;
}

#⬆️ {
  position: absolute;
  width: 12vw;
  height: 12vw;
  border: none;
  top: 74%;
  left: 44%;
  transform: translate(-50%, -50%);
  max-height: 14vh;
  max-width: 14vh;
}
.latest-switches-container {
  position: absolute;
  color: black;
  font-size: 2.4vw;
  font-family: Cairo, sans-serif;
  font-weight: bold;
  top: 1%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 1px;
}
.text {
  color: transparent;
  font-size: 0vw;
  font-family: Cairo, sans-serif;
}
.touchbox-version {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed; /* Change to 'fixed' to position it relative to the viewport */
  bottom: 2vh; /* Distance from the bottom of the viewport */
  right: 13vh; /* Distance from the right of the viewport */
  transform: translate(50%, 50%);
  font-size: 1.5vw;
  font-family: Cairo, sans-serif;
  color: black;
  background-color: white; /* Set the background color to black */
  font-weight: bold; /* Make the font bold */
  padding: 0.2vw;
  border-radius: 1.3vw;
}
