body,html {
    font-family:Cairo, sans-serif;
  text-align: center;
  padding: 1vw;
  user-select: none;
  background: linear-gradient(to bottom, #111111, #333333);
  height: 100%;
  margin: 0;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
    font-weight: bold;
}
.menu-trigger {
  cursor: pointer;
  padding: 0.4vw;
  border: 0.2vw solid white;
  background-color: black;
  border-radius: 1.3vw;
  width: 2.4vw;
  height: 2.4vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 26vw;
  left: -72.5vw;
  transform: translate(-50%, -50%);
}
.menu-icon {
  width: 2vw;
  height: 2vw;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2vw;
  font-family: Cairo, sans-serif;
  z-index: 4;
}
.menu-icon::after {
  content: "\2630"; /* Unicode for the ☰ character */
  position: center;
  font-size: 2vw;
  color: white;
    top: 50%;
  left: 50%;
}

.menu-items {
  display: none;
  background-color: #000;
  padding: 2vw;
  border: 0.2vw solid white;
  border-radius: 1.3vw;
  min-width: 25vw;
  color: white;
  font-size: 2vw;
  font-family: Cairo, sans-serif;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  top: 27vw;
  left: -28vw;
  transform: translate(-50%, -50%);
}

.menu-item {
  cursor: pointer;
  padding: 1vw;
}

.menu-item:hover {
  background-color: teal;
  border-radius: 1vw;
}
.background {
  background-color: black;
  position: absolute;
  border: 0.2vw solid white;
  padding: 1vw;
  border-radius: 2vw;
}
.switch-container {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 0.2vw solid white;
  padding: 2vw;
  flex-wrap: wrap;
  border-radius: 2vw;
  background-color: invisible;
  box-sizing: border-box;
  height: 55vw;
  width: 90vw;
  background-size: cover;
}

.switch {
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  background-color: gray;
  margin: 1vw;
  box-shadow: 0 1vw 0.08vw rgba(0, 0, 0, 0.45);
}
.switch.dark {
  background-color: white;
}

/*Button Customization ←↓→↑ LPMPHPL1 LKMKHKL2 🡸🡻🡺🡹  🡼 🡽 🡾 🡿*/
#🡸 {
  position: absolute;
  width: 10vw;
  height: 10vw;
  border: none;
  cursor: pointer;
  top: 27%;
  left: 10%;
  transform: translate(-50%, -50%);
}

#🡻 {
  position: absolute;
  width: 10vw;
  height: 10vw;
  border: none;
  cursor: pointer;
  top: 27%;
  left: 24%;
  transform: translate(-50%, -50%);
}
#🡺 {
  position: absolute;
  width: 10vw;
  height: 10vw;
  border: none;
  cursor: pointer;
  top: 38%;
  left: 36%;
  transform: translate(-50%, -50%);
}
#LP {
  position: absolute;
  width: 10vw;
  height: 10vw;
  border: none;
  cursor: pointer;
  top: 28%;
  left: 49%;
  transform: translate(-50%, -50%);
}
#MP {
  position: absolute;
  width: 10vw;
  height: 10vw;
  border: none;
  cursor: pointer;
  top: 17%;
  left: 62%;
  transform: translate(-50%, -50%);
}
#HP {
  position: absolute;
  width: 10vw;
  height: 10vw;
  border: none;
  cursor: pointer;
  top: 17%;
  left: 75%;
  transform: translate(-50%, -50%);
}
#L1 {
  position: absolute;
  width: 10vw;
  height: 10vw;
  border: none;
  cursor: pointer;
  top: 17%;
  left: 88%;
  transform: translate(-50%, -50%);
}
#LK {
  position: absolute;
  width: 10vw;
  height: 10vw;
  border: none;
  cursor: pointer;
  top: 48%;
  left: 49%;
  transform: translate(-50%, -50%);
}
#MK {
  position: absolute;
  width: 10vw;
  height: 10vw;
  border: none;
  cursor: pointer;
  top: 37%;
  left: 62%;
  transform: translate(-50%, -50%);
}
#HK {
  position: absolute;
  width: 10vw;
  height: 10vw;
  border: none;
  cursor: pointer;
  top: 37%;
  left: 75%;
  transform: translate(-50%, -50%);
}

#L2 {
  position: absolute;
  width: 10vw;
  height: 10vw;
  border: none;
  cursor: pointer;
  top: 37%;
  left: 88%;
  transform: translate(-50%, -50%);
}

#🡹 {
  position: absolute;
  width: 12vw;
  height: 12vw;
  border: none;
  cursor: pointer;
  top: 74%;
  left: 44%;
  transform: translate(-50%, -50%);
}
.latest-switches-container {
  position: absolute;
  color: black;
  font-size: 2.4vw;
  font-family: Cairo, sans-serif;
  font-weight: bold;
  top: 1%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 1px;
}
.text {
  color: invisible;
  font-size: 0vw;
  font-family: Cairo, sans-serif;
}

.touchbox-version {
  font-size: 2vw;
  color: white;
  margin-top: 2vw;
  font-family: "Cairo", sans-serif;
  top: 59%;
  left: 8%;
  transform: translate(-50%, -50%);
    position: relative;
    font-display: swap; 
}
